body {
  height:100vw;
  font-size:1.5vh;
}
/*
.pane {
  width:30%;
  margin:0 auto;
}
*/
.ctrlDiv {
  background:gray;
}
.radcontainer{
  display:inline;
}
#tooltip {
  display:inline-block;
  text-align:center;
  margin:auto 0;
  width:25%;
}
.innerholder {
  display:flex;
}
.panemover {
    background: #cacaf0;
    display: inline-block;
    position: relative;
}
.panemover img {
  width:20%;
}
#btnholder {

    width: 50%;
    margin: 0 auto;
    display: flex;
    width: 100%;
    justify-items: center;
    justify-content: center;
    height: 4.0vh;

}
#addbtn {

    width: 20%;
    height: 100%;

}
select {
  font-size:1.5vh;
}
input {
  font-size:1.5vh;
}
button {
  font-size:1.5vh;
}
